* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-size: 18px; lets not put the same font size on all items */
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  align-items: center;
}

/* .title {
  width: 150px;
} */

/* input {
  /* display: flex;
  /* padding: 0;
  margin: 0; not need bc already in'*' */
/* flex: 0.4; } */

.slot {
  display: flex;
  flex-direction: row;
  /* flex: 1; */
}

.picButton {
  width: 100px;
  /* padding: 3px; why does it change also the input field of "flora and fauna"  */
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: auto;  not sure yet need to think about height*/
}
h1 {
  margin: 2rem;
}
.base-input,
.picButton {
  margin-right: 1rem;
  margin-left: 0.2rem;
}
/* -------Gallery----------  */
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery img {
  width: 200px;
  height: 200px;
  margin: 10px;
}
