* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Shadows Into Light', cursive;
  box-sizing: border-box;

}

html,
body {
  height: 100%;
  background-color: green;
}


.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

h1 {
  font-size: 50px;
  align-self: center;
  color: rgb(118, 249, 118);
}

.slot {
  display: flex;

}

.title {
  width: 150px;
}

input {
  display: flex;
  padding: 0;
  margin: 0;
  flex: 0.4;

}

button {
  border-radius: 10px;
}



#picButton {
  width: 100px;
}

.commentbox {
  display: flex;
  flex: 0.4;
}

#submit {
  margin: 0 150px;
  width: 150px;

}



#gallery-button {
  display: flex;
  align-self: center;
  align-items: center;
  line-height: 20px;
  justify-content: center;

  width: 30%;
  height: 30%;
  text-align: center;
}