* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Shadows Into Light", cursive;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: green;
  color: white;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  /* height: 100%; do not use so it wont be so stretched out @amit*/
  flex: 1;
}

h1,
h2 {
  font-size: 50px;
  text-align: center;
  color: rgb(118, 249, 118);
}

.slot {
  display: flex;
  padding: 5px;
  flex: 1;
  justify-content: center;
}

.title {
  width: 150px;
}

input {
  display: flex;
  flex: 0.4;
}

button {
  border-radius: 10px;
  padding: 10px;
}



.commentbox {
  display: flex;
  flex: 0.4;
}



.gallery-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.outputDiv {
  display: flex;
  height: 50px;
  width: 300px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.imgDivElement {
  display: flex;
  margin: 10px;

}

.experienceDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  border: solid rgb(49, 9, 9);
  margin: 10px;
  border-radius: 10px;
}

@media(max-width: 960px) {
  .slot {
    justify-content: flex-start;
  }

  input,
  .commentbox {
    width: auto;
    flex: auto;
  }

  .title {
    width: 100px;
  }

  #picButton {
    margin-left: 30px
  }




}